/* Body color */
body{
    background-color: #ebebeb !important;
}

/* Container color */
#divWhite{
    background-color:white;
}

/* Logo */
.header{
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 6px grey;
}
#logo{
    padding: 7px;
    width:13rem;
    height:4rem;
}

/* Fix to navbar */
#flex{
    display: flex;
}
.navbar-brand {
    margin-left: 10px;
}
.form-control{
    margin-right: 10px;
}

/* Table */
th{
    font-size: 16px;
}
#corpoTabela {
    font-size: 15px;
}

/* Home Title color */
#aColor{
    color: blue;
}

/* Table limit */
.containerTable {
    height: 80vh;
    margin-bottom: 20px;
    overflow: auto;
}

/* Add in Table Title */
#addTitle {
    margin-left:30px;
    color:blue;
    font-size: 25px;
}
#addSubtitle {
    margin-top: -10px;
    margin-left:30px;
    color:blue;
    font-size: 20px;
}

/* Insert Input */
#addInput {
    width: 200px;
}